:root {
   --background-color: #fff;
    --primary-color: #91d3e0;
    --secondary-color: #000;
    --text1: #fff;
    --text2: #000;
    --h1-highlight: #5a5a5ab3;
    --nav-small-background: #66a5b1;
    --dark-blue: #253d42;
    /* NEW COLORS FOR SLEEK DESIGN */
    --border-color: #ddd; /* Light gray for subtle borders */
    --accent-color: #66a5b1; /* Using a lighter blue from nav-small-background for accents */
}

body {
    font-family: "Almarai", sans-serif !important;
    margin: 0;
    gap: 0;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    -ms-overflow-style: none;  /* for Internet Explorer, Edge */
    scrollbar-width: none;     /* for Firefox */
}

body::-webkit-scrollbar {
    display: none;             /* for Chrome, Safari, and Opera */
  }

/*typographgy*/
p, #add-package-form div {
    line-height: 1.75;
    font-size: 120%;
    font-weight: 250;
}

.one-sixth {
    width: 17%;
}

#main-nav-container {
    margin: auto;
}

h1,h2,h3,h4,h5,h6 { /*making sure w3 schools doesnt override this*/
        font-family: "Almarai", sans-serif !important;
}

.hide-large {
    display: block;
}

.hide-small {
    display: none;
}

.hide {
    display: none;
}

.one-small {
    flex: 1;
}


@media (min-width: 799px) {  /*large resolutions*/

    .hide-large {
        display: none;
    }

    .hide-small {
        display: block;
    }

    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    .six {
        flex: 6;
    }









}