.gallery-image-container {
    position: relative;
    cursor: pointer;
    overflow: visible;
}

.gallery-image-container img {
    width: 100%;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

