
#home-image-div {
    position: relative;
}

#home-image-div #h1-container h1 {
    background: var(--h1-highlight);
    color: var(--text1);
    width: fit-content;
    padding: 4%;
    margin: 0px;
    font-size: 10vw;
}

#h1-container {
    position: absolute;
    top: 25%; 
    left: 5%;
}

#home-image-div img {
    width: 100%;
    display: block;
}

#top-h1 {
    border-radius: 20px 20px 20px 0;
}

#bottom-h1 {
    border-radius: 0 0 20px 20px;
}


@media only screen and (min-width: 799px)  {

    #home-image-div #h1-container h1 {
        font-size: 350%;
    }

    #home-image-div img{
        border-radius: 30px;
        padding: 10px;
    }
    
}
