#image-banner {
    position: relative;
    width: 100%;
    max-height: 60vh; /* Limit height to 60% of viewport height */
}

#image-banner img {
    width: 100%;
    height: 25vh;
    object-fit: cover; /* This will maintain aspect ratio while filling the container */
    object-position: center; /* Center the image */
}

#h1-div {
    position: absolute;
    left: 5%;
    top: 20%;

}

.top-h1 , .bottom-h1{
    font-size: 500%;
    margin: 0;
    background: var(--h1-highlight);
    color: var(--text1);
    width: fit-content;
    padding: 10px;
}

.top-h1 {
    border-radius: 10px 10px 0 0;
}

.bottom-h1 {
    border-radius: 0 10px 10px 10px;
}


@media only screen and (max-width: 799px) {

    .top-h1 , .bottom-h1{ 
        font-size: 200%;
    }

}

@media only screen and (min-width: 799px) {
    #image-banner img {
        height: 40vh;
        min-height: 300px;
    }
}