#logo {
    padding: 10px;
}



#logo-banner {
    display: flex;
    width: 100%;
}

#toggle-container, #book-now-small-container {
    position: relative;
}

#toggle-nav {
    position: absolute;
    top: 20%;
    left: 20%;
}

#book-now-small-bttn {
    position: absolute;
    right: 10%;
    top: 23%;
}



#logo {
        width: 30%;
    }



@media only screen and (min-width: 799px) {
    #logo {
        width: 100%;
    }

    #logo img {
       min-width: 110px;
    }

    #logo-banner {
        display: block;
    }

    

}