#main-nav {
    
}

#main-nav ul {
    list-style-type: none;
}

#main-nav a{
    text-decoration: none;
    
}

#main-nav li {
    display: flex;
    text-align: center;
    justify-items: center;
}

a {
    color: var(--text2);
    display: block;
    width: 100%;
}

@media only screen and (max-width: 799px) {
    #main-nav li {
        text-align: left;
    }

    #main-nav ul {
        padding-left: 10px;
        background: var(--nav-small-background);
    }

    #main-nav a {
        padding: 5px 0;
        color: var(--text1);
        width: 85%;
        
        background: var(--h1-highlight);
        padding-left: 5px;
        margin: 2px;
        margin-left: 0;
        border-radius: 3px;;

    }

    #main-nav ul :first-child  {
        padding-top: 15px;
    }

     #main-nav ul :last-child  {
        padding-bottom: 15px;
    }
    

}

/*--------------------------------------*/
/*--------------------------------------*/

 @media only screen and (min-width: 799px) { 

#main-nav {
    align-items: center;
    max-width: 100%;
}

#main-nav ul {
    max-width: 100%;
    padding: 0;
}

#main-nav a{
    margin: 10px;
    padding: 10px;
}

#main-nav li {
    flex: 1;
    border-right: 1px solid var(--secondary-color);
}

#main-nav ul :last-child {
    border-right: none;
}

a {
    font-size: 2vw;
    font-weight: 200;
}

 }