#package-list {
    justify-content: space-around;
}

.package {
    margin:10px;
    background:#fbe1cb;
    border-radius:4px;
}

.package-description {
    padding:0 10px;
}

.package h1 {
    font-size:1.2em;
}

.package img {
    max-width:100%;
    display:block;
    margin:auto;
    border-radius:5px 5px 0 0;
}