
#portfolio  {
    padding: 10px;
    background: var(--secondary-color) !important;
}

#portfolio > * {
   margin-top: 10px;
}




@media only screen and (min-width: 799px)  { 
   #portfolio {
    line-height: 0;
    -webkit-column-count: 5;
    /* split it into 5 columns */
    -webkit-column-gap: 5px;
    /* give it a 5px gap between columns */
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;
    padding: 0px;
   
}

#portfolio img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px; /* to match column gap */
    border-radius: 0 !important;
}

}