
#img-section {
  max-width: 100%;
}

#img-section img {
  width: 100%;
}


@media only screen and (min-width: 799px) {
   #split-img section {
        margin: 20px;
        width: 80%;
        
   }

   #img-section img {
     padding: 10px;
     border-radius: 20px;
     max-width: 100%;
   }

   }