.text-section , .video-section{
    padding: 30px;
}

.video-section iframe {
    width: 100%;
}



@media only screen and (max-width: 799px)  { 
   .video-section iframe{
  /*  width: 100%;  */
}



.video-section {
    /* provide a fallback minimum height so the image has room to render */
    min-height: 160px;
}

}